* {
    margin: 0;
    padding: 0;
    outline: none;
}

html{
    overflow-x: hidden;
}

.first_block {
    position: relative;
    width: 100%;
    height: 330px;
    margin: 0px;
    background-image: url("./img/bg.jpg");
}

.first_block h1 {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 32px;
    text-align: center;
    padding-top: 70px;
    color: #219fa3;
    box-sizing: content-box;
}

.phone {
    text-align: center;
    padding-top: 60px;
    font-size: 32px;
    color: #ffffff;
    box-sizing: content-box;
}

.links {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.main_link {
    display: inline-block;
    text-align: center;
    font-size: 15px;
    padding-right: 60px;
    color: #ffffff;
}

.main_link:last-child {
    padding-right: 0px;
}

.second_block {
    position: relative;
    width: 100%;
    height: 440px;
    margin: 0px;
    background-color: #f1f1f1;
}

.subtitle {
    text-align: center;
    font-size: 21px;
    padding-top: 60px;
    text-transform: uppercase;
    color: #219fa3;
}

.third_block {
    position: relative;
    width: 100%;
    height: 330px;
    margin: 0px;
}

.fourth_block {
    position: relative;
    width: 100%;
    height: 170px;
    margin: 0px;
    background-color: #f1f1f1;
}

.fifth_block {
    position: relative;
    width: 100%;
    height: 390px;
    margin: 0px;
}

.sixth_block {
    position: relative;
    width: 100%;
    height: 250px;
    margin: 0px;
}

.seventh_block {
    position: relative;
    width: 100%;
    height: 750px;
    margin: 0px;
}

.eighth_block {
    position: relative;
    width: 100%;
    height: 230px;
    margin: 0px;
}

.ninth_block {
    position: relative;
    width: 100%;
    height: 180px;
    margin: 0px;
}